<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Guia Perguntas</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<h1>Guia perguntas</h1>
		<hr />
		<h3>Lista de perguntas:</h3>
		<h4>Nome: <%= nome %></h4>
		<h4>Linguagem: <%= lang %></h4>
		<hr />
		<h4>Lista de produtos, com preço:</h4>

		<% produtos.forEach((produto) => { %> <%= produto.nome%>: <%= produto.preco%> <br />
		<% } )%>
		<!-- // -->
		<% if (msg == true) { %>
		<h3>Isso é uma mensagem de erro!</h3>
		<% } else { %>
		<h3>Não houve erro!</h3>
		<% } %>

		<img src="/img/car.jpeg" alt="car" />
	</body>
</html>
